.registration-content {
  background: url("../images/registration-bg.jpg") center no-repeat;
  padding: 43px 0 0 0;
  background-size: cover;
  &-row {
    margin: 0 -10px;
  }
  .image-heading {
    padding: 0 10px;
    padding-top: 19px;
    .heading-content{
      background: url("../images/register-writing-bg.png") no-repeat;
      width: 265px;
      height: 212px;
      background-size: 100%;
      padding: 35px 55px 35px 20px;
    }
    @include respond-to-custom-size(1024px) {
      width: 27%;
    }
  }
  .intro-heading {
    padding: 0 10px;
    font-size: 19px;
    @include respond-to-custom-size(1024px) {
      width: 73%;
      padding-left: 0;
      &-inner {
        padding-right: 10px;
      }
    }
    @include respond-to-custom-size(null, 1024px) {
      &-inner {
        padding: 0 10px;
      }
    }
    .intro-inner {
      h3 {
        margin-top: 0;
      }
    }
  }
  .register-form {
    padding: 12px 52px;
    @include respond-to-custom-size(null,480px) {
      padding: 12px 15px;
    }
    color: #636567;
    font-size: 12px;
    .form-title {
      color: #7c428d;
      margin-bottom: 6px;
    }
    .require-hint {
      margin-bottom: 17px;
    }
    .form-group {
      width: 229px;
      display: inline-block;
      margin-right: 17px;
      vertical-align: top;
      margin-bottom: 11px;
      .form-control {
        border-radius: 0;
        height: 31px;
        color: #636567;
        font-size: 12px;
        border: 1px solid #a4a5a9;
        @include place-holder() {
          color: #636567;
        }
      }
    }
    .required {
      label {
        &:before {
          content: "*";
        }
      }
    }
    .form-check-box {
      vertical-align: top;
      margin-bottom: 17px;
      a ,a:hover{
        color: $color1;
        text-decoration: underline;
      }
      input[type='checkbox'] {
        display: none;
      }
      label {
        position: relative;
        padding: 0;
        padding-left: 38px;
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        &:before {
          content: "";
          left: 0;
          top: 0;
          width: 32px;
          height: 32px;
          display: block;
          position: absolute;
          border: 1px solid #aaabaf;
          background-color: #fff;
        }

      }

      input[type='checkbox']:checked + label {
        &:after {
          content: "\f00c";
          position: absolute;
          width: 14px;
          height: 14px;
          left: 3px;
          top: 3px;
          font-size: 19px;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 26px;
          color: $color1;
        }
      }

    }

    label {
      font-size: 12px;
      font-weight: 400;
      padding-top: 8px;
      color: #636567;
    }
    .form-date-time {
      display: inline-block;
      margin-right: 17px;
      vertical-align: top;
      margin-bottom: 11px;
      .control-label {
        margin-right: 7px;
      }
      .date-time-item {
        display: inline-block;
        vertical-align: top;
        @include respond-to-custom-size(null,480px) {
          display: block;
        }
      }
    }
    .form-upload {
      margin-bottom: 17px;
      &-inner {
        border: 1px solid #a4a5a9;
        padding: 9px 15px;
        background-color: #fff;
        max-width: 508px;
        min-height: 61px;
      }
      .input-instruction {
        display: inline-block;
        margin-right: 32px;
      }
      .input-btn {
        vertical-align: top;
        .global-btn-inner {
          width: 110px;
          height: 36px;
          font-size: 19px;
          text-align: center;
          position: relative;
          padding: 6px 0;
          input[type=file] {
            width: 143px;
            height: 37px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 10;
          }
        }

      }

    }
    .form-recaptcha {
      margin: 25px 0 25px 0;
      @include respond-to-custom-size(null,480px) {
        .g-recaptcha {
          transform: scaleX(0.8);
          position: relative;
          left: -22px;
        }
      }
    }
    .small-input {
      width: 74px;
      height: 31px;
      color: #636567;
      border: 1px solid #a4a5a9;
      font-size: 12px;
      padding: 6px 12px;
      margin-right: 8px;
      @include respond-to-custom-size(null,480px) {
        display: block;
        margin-top: 3px;
      }
      @include place-holder() {
        color: #636567;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .btn-submit {
      .global-btn-inner {
        padding: 5px 26px;
      }
    }
  }
}
.success-content{
  padding: 10px 20px;
  min-height: 700px;
  text-align: center;
  .title{
    font-family: "KGSecondChancesSketch";
    font-size: 40px;
    text-align: center;
    color: #000;
    max-width: 860px;
    margin: 0 auto;
    span{
      font-family: "Lemonade ICG Bold";
      color: #f79a2f;
    }
  }
  .content{
    max-width: 860px;
    margin: 10px auto;
    font-family: "Open Sans";
    color: #000;
    font-size: 18px;
    text-align: left;
  }
  .global-btn{
    margin-top: 20px;
  }
}