/*
 * @use
 *  use with ../libs/Bootstrap_Nav_Walker.php
 * @param
 *  $menu-id                     : ID of your menu element
 *  $bg-color (optional)         : background color of your navigation menu (default is transparent)
 *  $link-color (optional)       : color of link (default is inherit)
 *  $link-hover-color (optional) : color of link when hover (default is inherit)
 *  $active-color (optional)     : color of active menu item (default is $link-hover-color)
 *  $break-point (optional)      : break point of navigation menu to transfer to mobile view.
**/
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #19998c;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #19998c;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.font-1 {
  font-family: "Open Sans", sans-serif;
}

.font-2 {
  font-family: "KGSecondChancesSketch";
}

.font-3 {
  font-family: "KGSecondChancesSolid";
}

.font-4 {
  font-family: "Lemonade ICG";
}

.font-5 {
  font-family: "Lemonade ICG Bold";
}

.color-1 {
  color: #19998c;
}

.color-2 {
  color: #000;
}

.color-3 {
  color: #f8a421;
}

.color-4 {
  color: #dedede;
}

.font-size-25 {
  font-size: 25px;
}

.global-btn {
  display: inline-block;
  cursor: pointer;
  padding: 0 16px;
  position: relative;
  font-size: 19px;
  color: #000;
  border: 0;
  background-color: transparent;
}
.global-btn:hover {
  background-color: transparent;
}
.global-btn:before {
  content: "";
  width: 13px;
  height: 37px;
  background: url("../images/global-btn.png") 0 center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.global-btn:after {
  content: "";
  width: 13px;
  height: 37px;
  background: url("../images/global-btn.png") right 0 center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.global-btn-inner, .global-btn span {
  background-color: #f8a421;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Lemonade ICG Bold";
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  border: 0;
}
.global-btn-inner:hover, .global-btn span:hover {
  text-decoration: none;
}

.site-content {
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 68px;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}

.a-left {
  text-align: left;
}

@media only screen and (max-width: 992px) {
  .show-on-desktop {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .show-on-mobile {
    display: none;
  }
}

.has-table table {
  width: 100%;
  max-width: 700px;
}
.has-table table tr, .has-table table td {
  vertical-align: top;
}
.has-table table td {
  padding: 10px;
}

.official-tmp {
  padding-bottom: 30px;
}
.official-tmp ol {
  padding-left: 15px;
}
.official-tmp ol li {
  margin-bottom: 15px;
  font-weight: 600;
}
.official-tmp ol li p {
  font-weight: 400;
}

.contents {
  background: url("../images/bg-paper.jpg") 0 0;
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding: 43px 0 0 0;
  position: relative;
}

[class*='doodle-'] {
  position: absolute;
}

.doodle-1 {
  width: 26px;
  height: 27px;
  background: url("../images/doodle-1.png");
}

.doodle-2 {
  width: 31px;
  height: 32px;
  background: url("../images/doodle-2.png");
}

.doodle-3 {
  width: 28px;
  height: 29px;
  background: url("../images/doodle-3.png");
}

.doodle-4 {
  width: 61px;
  height: 60px;
  background: url("../images/doodle-4.png");
}

.doodle-5 {
  width: 61px;
  height: 60px;
  background: url("../images/doodle-5.png");
}

.site-header {
  position: relative;
  z-index: 1000;
}
.site-header .header-inner {
  position: relative;
  background-color: #f8a421;
  min-height: 30px;
  margin-top: 70px;
}
@media only screen and (max-width: 992px) {
  .site-header .header-inner {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 480px) {
  .site-header .header-inner {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.site-header .header-main-content {
  position: relative;
  padding-left: 180px;
}
.site-header .main-logo {
  position: absolute;
  left: 0;
  top: 8px;
  width: 180px;
  height: 136px;
  bottom: 0;
  margin: auto;
}
.site-header .main-logo a {
  display: inline-block;
}
.site-header .main-logo a:hover, .site-header .main-logo a:focus {
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .site-header .main-logo {
    float: left;
    padding: 10px 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 992px) {
  .site-header .main-logo {
    width: 267px;
    height: 201px;
    top: 130px;
  }
}
@media only screen and (max-width: 480px) {
  .site-header .main-logo {
    top: 70px;
  }
}
.site-header .site-title {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  margin: 7px 0 0;
  text-decoration: none;
  color: #19998c;
}
.site-header .main-navigation {
  background: #f8a421;
}
.site-header .main-navigation ul {
  list-style: none;
}
.site-header .main-navigation .navbar {
  min-height: 0;
  margin: 0;
  border: 0;
  position: static;
}
.site-header .main-navigation .navbar-default {
  border-radius: 0;
  background-color: transparent;
}
.site-header .main-navigation .navbar-default .navbar-collapse, .site-header .main-navigation .navbar-default .navbar-form {
  border: 0;
  padding: 0;
}
.site-header .main-navigation .nav > li {
  position: relative;
}
.site-header .main-navigation a, .site-header .main-navigation .navbar-default .navbar-nav > li > a {
  color: inherit;
  display: block;
  line-height: 1;
}
.site-header .main-navigation a:hover, .site-header .main-navigation .navbar-default .navbar-nav > li > a:hover, .site-header .main-navigation .navbar-default .navbar-nav > li.current-menu-parent > a {
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.site-header .main-navigation .menu > li {
  padding: 10px 0;
}
.site-header .main-navigation .menu > li:first-child {
  margin-left: 0;
}
.site-header .main-navigation .menu > li.current-menu-parent, .site-header .main-navigation .menu > li:hover, .site-header .main-navigation .menu > li.current-menu-item {
  color: inherit;
}
.site-header .main-navigation .menu > li.current-menu-parent a, .site-header .main-navigation .menu > li:hover a, .site-header .main-navigation .menu > li.current-menu-item a {
  color: inherit;
  text-decoration: none;
}
.site-header .main-navigation .menu li ul.dropdown-menu {
  background: #f8a421;
  border: none;
  padding: 0;
  width: 100%;
  min-width: 100%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
@media only screen and (min-width: 1024px) {
  .site-header .main-navigation .menu li ul.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    width: auto;
  }
}
.site-header .main-navigation .menu li ul.dropdown-menu li > a {
  color: inherit;
  padding: 5px 10px;
  border-right: none;
  position: relative;
}
.site-header .main-navigation .menu li:hover ul.dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s, height 0.3s;
  transition: opacity 0.3s, height 0.3s;
}
.site-header .main-navigation .menu li ul li {
  float: none;
}
.site-header .main-navigation .menu li ul li a {
  display: block;
  padding: 15px 26px 15px 27px;
  line-height: 23px;
  text-transform: capitalize;
  color: inherit;
}
.site-header .main-navigation .menu li ul li a:hover, .site-header .main-navigation .menu li ul li.current-menu-item a {
  background: #f8a421;
}
.site-header .main-navigation .navbar-toggle {
  float: left;
  margin-left: 5px;
  padding: 8px 5px;
}
.site-header .main-navigation .navbar-default .navbar-toggle:hover, .site-header .main-navigation .navbar-default .navbar-toggle:focus {
  background: transparent;
}
@media only screen and (min-width: 0) and (max-width: 1023px) {
  .site-header .main-navigation {
    float: none;
  }
  .site-header .main-navigation .navbar-nav {
    margin: 0;
    background-color: #f8a421;
    position: relative;
    z-index: 1000;
  }
  .site-header .main-navigation .nav > li {
    position: relative;
  }
  .site-header .main-navigation a, .site-header .main-navigation .navbar-default .navbar-nav > li > a {
    color: inherit;
  }
  .site-header .main-navigation .menu > li {
    margin-left: 0;
    clear: both;
  }
  .site-header .main-navigation .menu > li > ul {
    box-shadow: none;
  }
  .site-header .main-navigation .menu li ul.dropdown-menu {
    position: relative;
    border: 0;
    padding: 0 0 0 0px;
    background: transparent;
    text-align: left;
  }
  .site-header .main-navigation .menu li ul.dropdown-menu.collapsing {
    display: block;
  }
  .site-header .main-navigation .menu li ul.dropdown-menu.collapse {
    display: none;
  }
  .site-header .main-navigation .menu li ul.dropdown-menu.collapse.in {
    display: block;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
  .site-header .main-navigation .menu li ul.dropdown-menu li a {
    padding-left: 20px;
    border: none;
    color: inherit;
  }
  .site-header .main-navigation .menu li ul.dropdown-menu li.current-menu-item a {
    color: inherit;
  }
  .site-header .main-navigation .menu li.dropdown {
    position: relative;
  }
  .site-header .main-navigation .menu li.dropdown:before {
    content: "";
    clear: both;
  }
  .site-header .main-navigation .menu li.dropdown i.fa {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
  }
}
.site-header .main-navigation {
  float: right;
}
.site-header .main-navigation .navbar-header {
  float: none;
}
.site-header .main-navigation .navbar-toggle {
  float: right;
}
.site-header .main-navigation ul {
  float: none;
}
.site-header .main-navigation .navbar-nav > li {
  float: left;
  display: inline-block;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 7px 0;
}
.site-header .main-navigation .navbar-nav > li.open a {
  background-color: transparent;
}
.site-header .main-navigation .navbar-nav > li.facebook-btn {
  float: left;
  padding: 3px 16px;
}
.site-header .main-navigation .navbar-nav > li.facebook-btn a {
  border-left: 0;
  padding: 0;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/facebook-icon.png") center no-repeat;
  background-size: cover;
}
.site-header .main-navigation .navbar-nav > li.language-switch {
  float: left;
}
.site-header .main-navigation .navbar-nav > li.language-switch a {
  border-left: 0;
}
@media only screen and (min-width: 1200px) {
  .site-header .main-navigation .navbar-nav > li.language-switch a {
    padding-right: 37px;
    padding-left: 37px;
  }
}
.site-header .main-navigation .navbar-nav > li a {
  color: #19998c;
  padding: 1px 43px;
}
.site-header .main-navigation .navbar-nav > li:hover a, .site-header .main-navigation .navbar-nav > li.active a, .site-header .main-navigation .navbar-nav > li.current-menu-item a {
  color: #000;
}
@media only screen and (min-width: 1024px) {
  .site-header .main-navigation .navbar-nav > li + li a {
    border-left: 1px solid #000;
  }
}
@media only screen and (max-width: 1024px) {
  .site-header .main-navigation .navbar-nav > li {
    float: none;
  }
  .site-header .main-navigation .navbar-nav > li.facebook-btn {
    float: none;
    padding-right: 10px;
  }
  .site-header .main-navigation .navbar-nav > li.facebook-btn a {
    display: inline-block;
  }
  .site-header .main-navigation .navbar-nav > li.language-switch {
    float: none;
  }
}
@media only screen and (max-width: 1024px) {
  .site-header .main-navigation {
    text-align: right;
    float: right;
  }
  .site-header .main-navigation .navbar-toggle {
    display: block;
  }
  .site-header .main-navigation .navbar-nav > li {
    display: block;
  }
  .site-header .main-navigation .navbar-nav > li a {
    font-size: 18px;
    padding-right: 10px;
  }
  .site-header .main-navigation .navbar-nav > li + li {
    border: 0;
  }
}
.site-header .navbar-toggle {
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 12px 0 0 0;
}
.site-header .navbar-toggle .icon-bar {
  background-color: #000;
  width: 73px;
  height: 10px;
  border-radius: 5px;
}
.site-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}
@media only screen and (max-width: 480px) {
  .site-header .navbar-toggle .icon-bar {
    width: 53px;
    height: 6px;
  }
  .site-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
  }
}
.site-header.logged-header {
  border-bottom: 1px solid #eeeeee;
}
.site-header.logged-header .main-logo {
  float: left;
  text-align: left;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 14px;
}
@media only screen and (max-width: 1024px) {
  .site-header.logged-header .main-logo {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.site-header.logged-header .main-logo img {
  max-width: 66px;
  vertical-align: top;
  display: inline-block;
}
.site-header.logged-header .main-logo .site-title {
  font-size: 17px;
  margin-top: 24px;
  margin-left: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
}
.site-header.logged-header .main-navigation {
  margin-bottom: 16px;
  float: right;
}
@media only screen and (min-width: 1024px) {
  .site-header.logged-header .main-navigation {
    margin-top: 32px;
  }
}
.site-header.logged-header .main-navigation .navbar-nav > li a {
  padding: 3px 17px;
}
.site-header.logged-header .main-navigation .navbar-nav > li + li {
  border-left: 0;
}
@media only screen and (min-width: 1024px) {
  .site-header.logged-header .main-navigation .navbar-nav > li:last-child {
    border-left: 1px solid #dedede;
  }
}
.site-header #site-navigation {
  float: left;
}

@media only screen and (min-width: 992px) {
  .site-footer .footer-inner {
    background-color: #f8a421;
    margin-bottom: 70px;
  }
}
.site-footer .footer-logo {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f8a421;
}
@media only screen and (min-width: 992px) {
  .site-footer .footer-logo {
    width: 29.7%;
    text-align: left;
    padding-bottom: 0;
    background-color: transparent;
  }
  .site-footer .footer-logo img {
    max-width: 216px;
  }
}
.site-footer #footer-menu {
  float: none;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 12px;
}
.site-footer #footer-menu li {
  float: none;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
}
.site-footer #footer-menu li a {
  color: #000;
  font-size: 11px;
  padding: 1px 13px;
  line-height: 10px;
}
.site-footer #footer-menu li a:hover, .site-footer #footer-menu li a:focus {
  background-color: transparent;
}
.site-footer #footer-menu li + li a {
  border-left: 1px solid #000;
}
.site-footer .footer-text {
  font-size: 11px;
  padding-top: 21px;
  padding-bottom: 22px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .site-footer .footer-text {
    width: 28.3%;
    text-align: right;
  }
}

.home-content .home-intro {
  overflow: hidden;
  background: url("../images/intro-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 20px 0 0 0;
  position: relative;
  min-height: 408px;
}
@media only screen and (max-width: 992px) {
  .home-content .home-intro {
    background: url("../images/mobile-intro-bg.jpg") center repeat-y;
  }
}
.home-content .home-intro a {
  text-decoration: underline;
}
.home-content .home-intro .head-line {
  text-align: center;
  margin: 31px 0 14px 0;
  font-size: 59px;
}
.home-content .home-intro .head-line .font-size-68 {
  font-size: 68px;
}
@media only screen and (max-width: 992px) {
  .home-content .home-intro {
    padding: 30px 0 0 0;
  }
  .home-content .home-intro .head-line-3 {
    font-size: 116px;
  }
}
@media only screen and (max-width: 480px) {
  .home-content .home-intro {
    padding: 30px 0 0 0;
  }
  .home-content .home-intro .head-line-1, .home-content .home-intro .head-line-2, .home-content .home-intro .head-line-3 {
    display: block;
    font-size: 40px;
  }
}
.home-content .home-intro .intro {
  position: relative;
  z-index: 3;
  font-size: 20px;
  width: 64%;
  text-align: center;
  line-height: 24px;
  padding: 2px 33px;
  letter-spacing: 0.6px;
}
.home-content .home-intro .intro p {
  margin-bottom: 6px;
}
.home-content .home-intro .intro small {
  font-size: 15px;
}
@media only screen and (max-width: 1200px) {
  .home-content .home-intro .intro {
    width: 60%;
  }
}
@media only screen and (max-width: 992px) {
  .home-content .home-intro .intro {
    position: static;
    width: 100%;
    font-size: 23px;
    line-height: 26px;
    padding: 8px 15px 2px 15px;
  }
  .home-content .home-intro .intro .font-size-25 {
    font-size: 29px;
  }
}
.home-content .home-intro .subscribe-form {
  padding: 13px 0 0 0;
  position: relative;
}
.home-content .home-intro .subscribe-form .help-block {
  font-size: 14px;
}
.home-content .home-intro .subscribe-form-inner {
  width: 100%;
  max-width: 401px;
  margin: auto;
}
.home-content .home-intro .subscribe-form .form-group {
  width: 201px;
  float: left;
  padding-top: 10px;
  margin-right: 12px;
}
.home-content .home-intro .subscribe-form .form-group .control-label {
  display: none;
}
.home-content .home-intro .subscribe-form .form-group .form-control {
  border: 1px solid #dfdfe0;
  border-radius: 0;
  height: 30px;
  background-color: #fff;
  font-size: 12px;
  color: #636567;
  padding: 0 7px;
  font-weight: 600;
}
.home-content .home-intro .subscribe-form .form-group .form-control::-webkit-input-placeholder {
  font-style: italic;
}
.home-content .home-intro .subscribe-form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
.home-content .home-intro .subscribe-form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
.home-content .home-intro .subscribe-form .form-group .form-control:-ms-input-placeholder {
  font-style: italic;
}
.home-content .home-intro .subscribe-form button {
  border: 0;
  float: left;
  background-size: cover;
  width: 156px;
  min-height: 47px;
  font-size: 26px;
  border-radius: 5px;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
}
.home-content .home-intro .subscribe-form button:focus {
  outline: none;
}
.home-content .home-intro .subscribe-form .form-arrow {
  position: absolute;
  right: 9px;
  bottom: 25px;
  z-index: 1;
  width: 88px;
  height: 64px;
  background: url("../images/arrow-sketch.png") center no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 992px) {
  .home-content .home-intro .subscribe-form .form-group {
    float: none;
    margin: auto;
    width: 312px;
  }
  .home-content .home-intro .subscribe-form .form-group .form-control {
    height: 50px;
    text-align: center;
    font-size: 18px;
  }
  .home-content .home-intro .subscribe-form button {
    float: none;
    margin: 10px auto auto;
    width: 360px;
    height: 93px;
  }
}
@media only screen and (max-width: 480px) {
  .home-content .home-intro .subscribe-form .form-group {
    float: none;
    margin: auto;
    width: 260px;
  }
  .home-content .home-intro .subscribe-form .form-group .form-control {
    height: 50px;
    text-align: center;
    font-size: 18px;
  }
  .home-content .home-intro .subscribe-form button {
    float: none;
    margin: 10px auto auto;
    width: 182px;
    height: 47px;
  }
  .home-content .home-intro .subscribe-form .form-arrow {
    right: 0;
    bottom: 11px;
    z-index: 1;
    width: 48px;
    height: 34px;
  }
}
.home-content .home-intro .intro-link {
  font-size: 9.5px;
}
.home-content .home-intro .intro-link a {
  color: #000;
  text-decoration: underline;
}
@media only screen and (max-width: 992px) {
  .home-content .home-intro .intro-link {
    display: none;
  }
}
.home-content .home-intro .hand-writing {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: right;
  width: 426px;
  height: 240px;
}
.home-content .home-intro .hand-writing-mb {
  display: none;
}
.home-content .home-intro .hand-writing .hand-writing-content {
  position: absolute;
  padding: 40px 12px 5px 60px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home-content .home-intro .hand-writing .hand-writing-content {
    position: static;
    padding: 80px 12px 10px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .home-content .home-intro .hand-writing .hand-writing-content {
    position: static;
    padding: 60px 12px 10px 50px;
  }
}
.home-content .home-intro .hand-writing .hand-writing-content .left-content {
  width: 50%;
  float: left;
  text-align: left;
}
@media only screen and (max-width: 450px) {
  .home-content .home-intro .hand-writing .hand-writing-content .left-content {
    width: 100%;
    float: none;
  }
}
.home-content .home-intro .hand-writing .hand-writing-content .left-content .title {
  padding-top: 29px;
  display: block;
  text-align: center;
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home-content .home-intro .hand-writing .hand-writing-content .left-content {
    height: 254px;
    display: table;
  }
  .home-content .home-intro .hand-writing .hand-writing-content .left-content .title {
    display: table-cell;
    vertical-align: middle;
  }
}
.home-content .home-intro .hand-writing .hand-writing-content .left-content .font-1 {
  display: block;
  margin: 0;
  font-family: "KGSecondChancesSketch";
  font-size: 26px;
  line-height: 30px;
}
.home-content .home-intro .hand-writing .hand-writing-content .left-content .font-2 {
  font-family: "Lemonade ICG Bold";
  font-size: 26px;
  color: #ffffff;
  line-height: 30px;
  position: relative;
  display: inline-block;
  margin: 0;
}
.home-content .home-intro .hand-writing .hand-writing-content .left-content .font-2:before {
  content: '';
  background: url("../images/line-left-icon.png") no-repeat;
  width: 11px;
  height: 18px;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 100%;
  margin-right: 5px;
}
.home-content .home-intro .hand-writing .hand-writing-content .left-content .font-2:after {
  content: '';
  background: url("../images/line-right-icon.png") no-repeat;
  width: 12px;
  height: 18px;
  background-size: 100%;
  position: absolute;
  top: 5px;
  left: 100%;
  margin-left: 5px;
}
.home-content .home-intro .hand-writing .hand-writing-content .right-content {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 450px) {
  .home-content .home-intro .hand-writing .hand-writing-content .right-content {
    width: 100%;
    float: none;
    margin-top: 10px;
  }
}
.home-content .home-intro .hand-writing .hand-writing-content .main-content {
  font-family: "Lemonade ICG Bold";
  font-size: 20px;
  line-height: 23px;
  color: #000;
  margin-top: 10px;
}
@media only screen and (max-width: 992px) {
  .home-content .home-intro .hand-writing {
    position: relative;
    width: 100%;
    height: auto;
  }
  .home-content .home-intro .hand-writing-mb {
    display: block;
  }
  .home-content .home-intro .hand-writing-dk {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .home-content .home-intro .hand-writing {
    margin-left: 0;
  }
}
.home-content .home-intro .sun {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 85px;
  height: 135px;
  background: url("../images/sun.png") center no-repeat;
  background-size: cover;
}

.home-gallery {
  padding: 7px 0 0 0;
  background: #fff;
}
.home-gallery-row {
  margin: 0 3px;
}
.home-gallery-item {
  padding: 0 3px;
  width: 20%;
  float: left;
  margin-bottom: 6px;
}
.home-gallery-item-inner {
  position: relative;
}
.home-gallery-item-image {
  height: 126px;
}
.home-gallery-item-image a {
  display: block;
  width: 100%;
  height: 100%;
}
.home-gallery-item-image a:hover {
  cursor: pointer;
}
.home-gallery-item-image img {
  display: none;
}
.home-gallery-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  background: rgba(248, 164, 33, 0.7);
  padding: 10px;
  font-size: 12px;
  font-family: "Lemonade ICG Bold";
}
.home-gallery .see-all-btn {
  display: block;
  min-height: 126px;
  background-color: #1890f3;
  background-image: url("../images/see-all.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 124px 24px;
}
@media only screen and (max-width: 992px) {
  .home-gallery {
    padding: 0;
  }
  .home-gallery-row {
    margin: 0;
  }
  .home-gallery-item {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .home-gallery-item-image {
    height: auto;
    background: none !important;
  }
  .home-gallery-item-image img {
    display: block;
    width: 100%;
  }
  .home-gallery-item:first-child, .home-gallery-item.item-see-all {
    display: block;
  }
  .home-gallery-item-title {
    position: absolute;
    padding: 17px 35px;
    font-size: 51px;
    font-family: "Lemonade ICG Bold";
  }
  .home-gallery .see-all-btn {
    background-color: #7c428d;
    background-image: url("../images/see-all.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 329px 60px;
    height: 162px;
  }
}
@media only screen and (max-width: 480px) {
  .home-gallery-item-title {
    position: absolute;
    padding: 10px;
    font-size: 24px;
    font-family: "Lemonade ICG Bold";
  }
  .home-gallery .see-all-btn {
    background-color: #7c428d;
    background-size: 124px 24px;
  }
}

.home-text-block {
  font-size: 10px;
  padding: 10px 0 0 0;
  text-align: justify;
  line-height: 12px;
}
.home-text-block a {
  text-decoration: underline;
}
@media only screen and (max-width: 992px) {
  .home-text-block {
    text-align: center;
    font-size: 20px;
    padding: 26px 0 30px 0;
    line-height: 24px;
  }
}

.home-instruction {
  padding-top: 13px;
  padding-bottom: 15px;
}
.home-instruction-row {
  margin: 0 -4px;
}
.home-instruction-item {
  padding: 0 4px;
  margin-bottom: 15px;
}
.home-instruction-item img {
  height: 166px;
}
@media only screen and (max-width: 992px) {
  .home-instruction-item img {
    height: auto;
  }
}

.modal.fade {
  background: rgba(0, 0, 0, 0.8);
}

.my-modal-dialog {
  max-width: 600px;
  margin: 100px auto;
}
@media only screen and (max-width: 768px) {
  .my-modal-dialog {
    width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .my-modal-dialog {
    width: 100%;
  }
}
.my-modal-dialog img {
  width: 100%;
  height: auto;
}
.my-modal-dialog .modal-content {
  position: relative;
}
.my-modal-dialog .modal-content .close {
  position: absolute;
  color: #ffffff;
  text-shadow: none;
  opacity: 1;
  top: 0;
  left: 100%;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 480px) {
  .my-modal-dialog .modal-content .close {
    left: auto;
    top: 10px;
    right: 10px;
    color: #000;
  }
}
.my-modal-dialog .modal-content .close:focus {
  outline: none;
}

.feature_boxes {
  margin-left: -5px;
  margin-right: -5px;
}
.feature_boxes [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}
.feature_boxes table {
  height: 100%;
  width: 100%;
}
.feature_boxes table tr, .feature_boxes table td {
  text-align: center;
  vertical-align: middle;
}
.feature_boxes .box1 {
  background: #039ff8;
  padding: 10px;
  text-align: center;
}
.feature_boxes .box1 .inner {
  border: 1px solid #fff;
  padding: 10px 5px;
  height: 158px;
}
.feature_boxes .box1 .inner .image-inner {
  border: 4px solid #f8a421;
  border-radius: 3px;
  max-width: 226px;
  margin: auto;
}
.feature_boxes .box2 {
  background: #f4a40f url(../images/bg_orange.png) center center no-repeat;
  padding: 10px;
  text-align: center;
}
.feature_boxes .box2 .inner {
  border: 1px solid #fff;
  padding: 10px 30px;
  height: 158px;
  background-color: #f8a421;
}
.feature_boxes .box3 {
  background: #9151a0;
  padding: 10px;
  text-align: center;
}
.feature_boxes .box3 .inner {
  border: 1px solid #fff;
  padding: 10px 40px;
  height: 158px;
}
.feature_boxes .feature_box {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
}
.feature_boxes .feature_box h3 {
  font-size: 23px;
  font-weight: 700;
  margin-top: 5px;
}
.feature_boxes .join_button {
  margin-top: 10px;
  border: 0;
  padding: 10px 30px;
  color: #000;
  background: #fcb514;
  font-size: 18px;
  border-radius: 3px;
  text-transform: uppercase;
}
.feature_boxes .join_button:hover {
  background: #D89905;
}

#weekly-image-popup .modal-dialog {
  max-width: 600px;
}
#weekly-image-popup .modal-content {
  border-radius: 0;
}
#weekly-image-popup .modal-header {
  border: 0;
  padding: 0;
  height: 0;
}
#weekly-image-popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 50px;
  color: #19998c;
  border: 0;
  background: transparent;
  box-shadow: none;
  z-index: 15;
  line-height: 26px;
}
#weekly-image-popup .close-btn:focus {
  outline: none;
}

.item-float-left {
  float: left;
}

.registration-content {
  background: url("../images/registration-bg.jpg") center no-repeat;
  padding: 43px 0 0 0;
  background-size: cover;
}
.registration-content-row {
  margin: 0 -10px;
}
.registration-content .image-heading {
  padding: 0 10px;
  padding-top: 19px;
}
.registration-content .image-heading .heading-content {
  background: url("../images/register-writing-bg.png") no-repeat;
  width: 265px;
  height: 212px;
  background-size: 100%;
  padding: 35px 55px 35px 20px;
}
@media only screen and (min-width: 1024px) {
  .registration-content .image-heading {
    width: 27%;
  }
}
.registration-content .intro-heading {
  padding: 0 10px;
  font-size: 19px;
}
@media only screen and (min-width: 1024px) {
  .registration-content .intro-heading {
    width: 73%;
    padding-left: 0;
  }
  .registration-content .intro-heading-inner {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .registration-content .intro-heading-inner {
    padding: 0 10px;
  }
}
.registration-content .intro-heading .intro-inner h3 {
  margin-top: 0;
}
.registration-content .register-form {
  padding: 12px 52px;
  color: #636567;
  font-size: 12px;
}
@media only screen and (max-width: 480px) {
  .registration-content .register-form {
    padding: 12px 15px;
  }
}
.registration-content .register-form .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  background: none repeat scroll 0 0 transparent;
  cursor: inherit;
  display: block;
}
.registration-content .register-form #canvas {
  max-width: 100%;
  height: auto;
}
.registration-content .register-form .preview-wrapper {
  display: none;
}
.registration-content .register-form .file-preview {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}
.registration-content .register-form .file-preview-frame {
  position: relative;
  display: table;
  margin: 8px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0 #a2958a;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}
.registration-content .register-form .file-preview-frame:hover {
  box-shadow: 3px 3px 5px 0 #333;
}
.registration-content .register-form .form-title {
  color: #7c428d;
  margin-bottom: 6px;
}
.registration-content .register-form .require-hint {
  margin-bottom: 17px;
}
.registration-content .register-form .select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 31px;
}
.registration-content .register-form .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.registration-content .register-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  color: #636567;
}
.registration-content .register-form .hide-arrow + .select2 .select2-selection__arrow {
  display: none;
}
.registration-content .register-form .a-center + .select2 .select2-selection__rendered {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.registration-content .register-form .small-input + .select2 {
  margin-right: 8px;
}
.registration-content .register-form .form-group {
  width: 229px;
  display: inline-block;
  margin-right: 17px;
  vertical-align: top;
  margin-bottom: 11px;
}
.registration-content .register-form .form-group .form-control {
  border-radius: 0;
  height: 31px;
  color: #636567;
  font-size: 12px;
  border: 1px solid #a4a5a9;
}
.registration-content .register-form .form-group .form-control::-webkit-input-placeholder {
  color: #636567;
}
.registration-content .register-form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #636567;
}
.registration-content .register-form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #636567;
}
.registration-content .register-form .form-group .form-control:-ms-input-placeholder {
  color: #636567;
}
.registration-content .register-form .required label:before {
  content: "*";
}
.registration-content .register-form .form-check-box {
  vertical-align: top;
  margin-bottom: 17px;
}
.registration-content .register-form .form-check-box a, .registration-content .register-form .form-check-box a:hover {
  color: #19998c;
  text-decoration: underline;
}
.registration-content .register-form .form-check-box input[type='checkbox'] {
  display: none;
}
.registration-content .register-form .form-check-box label {
  position: relative;
  padding: 0;
  padding-left: 38px;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}
.registration-content .register-form .form-check-box label:before {
  content: "";
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  border: 1px solid #aaabaf;
  background-color: #fff;
}
.registration-content .register-form .form-check-box input[type='checkbox']:checked + label:after {
  content: "\f00c";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 3px;
  top: 3px;
  font-size: 19px;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  color: #19998c;
}
.registration-content .register-form label {
  font-size: 12px;
  font-weight: 400;
  padding-top: 8px;
  color: #636567;
}
.registration-content .register-form .form-date-time {
  display: inline-block;
  margin-right: 17px;
  vertical-align: top;
  margin-bottom: 11px;
}
.registration-content .register-form .form-date-time .control-label {
  margin-right: 7px;
}
.registration-content .register-form .form-date-time .date-time-item {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 480px) {
  .registration-content .register-form .form-date-time .date-time-item {
    display: block;
  }
}
.registration-content .register-form .form-upload {
  margin-bottom: 17px;
}
.registration-content .register-form .form-upload-inner {
  border: 1px solid #a4a5a9;
  padding: 9px 15px;
  background-color: #fff;
  max-width: 508px;
  min-height: 61px;
  position: relative;
}
.registration-content .register-form .form-upload .input-instruction {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 15px;
}
.registration-content .register-form .form-upload .global-btn span {
  background-color: #f8a421;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Lemonade ICG Bold";
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  border: 0;
  font-size: 19px;
}
.registration-content .register-form .form-upload .global-btn span:hover {
  text-decoration: none;
}
.registration-content .register-form .form-upload .btn-file {
  position: absolute;
  right: 12px;
  top: 12px;
}
.registration-content .register-form .form-upload .input-btn {
  vertical-align: top;
}
.registration-content .register-form .form-upload .input-btn .global-btn-inner {
  width: 110px;
  height: 36px;
  font-size: 19px;
  text-align: center;
  position: relative;
  padding: 6px 0;
}
.registration-content .register-form .form-upload .input-btn .global-btn-inner input[type=file] {
  width: 143px;
  height: 37px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
.registration-content .register-form .form-recaptcha {
  margin: 25px 0 25px 0;
}
@media only screen and (max-width: 480px) {
  .registration-content .register-form .form-recaptcha .g-recaptcha {
    -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8);
            transform: scaleX(0.8);
    position: relative;
    left: -22px;
  }
}
.registration-content .register-form .small-input {
  width: 74px;
  height: 31px;
  color: #636567;
  border: 1px solid #a4a5a9;
  font-size: 12px;
  padding: 6px 12px;
  margin-right: 8px;
}
@media only screen and (max-width: 480px) {
  .registration-content .register-form .small-input {
    display: block;
    margin-top: 3px;
  }
}
.registration-content .register-form .small-input::-webkit-input-placeholder {
  color: #636567;
}
.registration-content .register-form .small-input:-moz-placeholder {
  /* Firefox 18- */
  color: #636567;
}
.registration-content .register-form .small-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #636567;
}
.registration-content .register-form .small-input:-ms-input-placeholder {
  color: #636567;
}
.registration-content .register-form .small-input:last-child {
  margin-right: 0;
}
.registration-content .register-form .btn-submit .global-btn-inner {
  padding: 5px 26px;
}

.home-gallery .modal-header, .home-gallery .modal-footer {
  background-color: #f8a421;
  border: 0;
  border-radius: 0;
}
.home-gallery .modal-body {
  background-color: #19998c;
}
.home-gallery .modal-next, .home-gallery .modal-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  color: #f8a421;
  font-size: 50px;
  line-height: 50px;
  border: 0;
  height: 50px;
}
.home-gallery .modal-next:focus, .home-gallery .modal-next:active, .home-gallery .modal-prev:focus, .home-gallery .modal-prev:active {
  outline: none;
}
.home-gallery .modal-next {
  right: -50px;
}
@media only screen and (max-width: 992px) {
  .home-gallery .modal-next {
    right: 0;
  }
}
.home-gallery .modal-prev {
  left: -50px;
}
@media only screen and (max-width: 992px) {
  .home-gallery .modal-prev {
    left: 0;
  }
}

.select2-results .select2-results__group {
  display: none;
}

.success-content {
  padding: 10px 20px;
  min-height: 700px;
  text-align: center;
}
.success-content .title {
  font-family: "KGSecondChancesSketch";
  font-size: 40px;
  text-align: center;
  color: #000;
  max-width: 860px;
  margin: 0 auto;
}
.success-content .title span {
  font-family: "Lemonade ICG Bold";
  color: #f79a2f;
}
.success-content .content {
  max-width: 860px;
  margin: 10px auto;
  font-family: "Open Sans";
  color: #000;
  font-size: 18px;
  text-align: center;
}
.success-content .content a {
  text-decoration: underline;
  color: #19998c;
}
.success-content .global-btn {
  margin-top: 20px;
}

.gallery-tmpl .pagination li a, .gallery-tmpl .pagination li span {
  background-color: transparent;
  color: #000;
  font-family: "Lemonade ICG Bold";
  font-size: 22px;
  font-weight: 600;
  border: 0;
}
.gallery-tmpl .pagination li:hover a, .gallery-tmpl .pagination li.active a {
  background-color: transparent;
  color: #f8a421;
}

.gallery-content {
  padding: 10px 20px;
  /* min-height: 700px; */
  text-align: center;
}

.gallery-wrapper {
  padding: 7px 0 0 0;
}

.contest-session-search .form-group {
  max-width: 300px;
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .contest-session-search .form-group {
    display: block;
    margin: auto;
  }
}
.contest-session-search .global-btn {
  margin-top: 0;
  margin-bottom: 15px;
}

.gallery-intro {
  margin-bottom: 30px;
  font-size: 20px;
}

.tmpl-official-rules .doodle-1 {
  left: 58%;
  top: 10px;
}
.tmpl-official-rules .doodle-2 {
  right: 2%;
  top: 367px;
}
.tmpl-official-rules .doodle-3 {
  right: 3%;
  top: 73px;
}
.tmpl-official-rules .doodle-4 {
  left: 62.3%;
  top: -18px;
}
.tmpl-official-rules .doodle-5 {
  right: 18%;
  top: 240px;
}

/*# sourceMappingURL=main.css.map */
